body {
	margin: 0;
	padding: 0;

	width: 1519px;
	margin: 0 auto;

	font-family: "Roboto", Arial, serif;
	font-size: 18px;

	color: #161E3C;
}

button,
input,
a {
	font-family: "Roboto", Arial, sans-serif;

	text-decoration: none;
	color: white;
}

h2, h3 {
	margin:0;
	padding: 0;
}

.btn {
	/*Reset browser's settings*/
	border-width: 0;

	padding: 15px 0;
	width: 170px;

	background-color: #28396F;
	color: white;
}

li {
	list-style: none;
}

.block-container {
	width: 1320px;
	margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header */

.header {
	height: 120px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	vertical-align: middle;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 1519px;
}

.header__logo {
	display: inline-block;
}

.header__menu {
	display: flex;
	justify-content: space-around;
}

.header__link {
	padding-right: 75px;

	color: black;
}

.header__tel {
	padding-right: 100px;

	color: black;
}

/* Background for header & abstract */

/* СВГ СИЛЬНО ПОДГРУЖАЕТ CSS!!! */

.header--background-wrapper {
	background-image: url(../images/background-header.svg);
	background-repeat: no-repeat;
	background-size: 100% 930px;
}

/* End of header */

/* Abstract */

.main-page__abstract {
	height: 800px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.abstract__h1 {
	margin-bottom: 480px;
	padding-left: 70px;

	font-weight: 300;
	font-size: 60px;
	line-height: 1.4;

	text-transform: uppercase;
	text-align: center;
}

.abstract__slogan {
	color: white;

	font-size: 24px;
	font-weight: normal;
	line-height: 1.3;
	text-align: center;
	text-transform: uppercase;

	padding-left: 70px;
}

.abstract__list {
	margin-bottom: 0;

	color: white;
}

.abstract__principles {
	text-transform: uppercase;
	text-align: center;

	margin-bottom: 25px;
}

/* End of abstract */

/* Nav-block */

.main-page__nav-block {
	height: 600px;
	width: 1519px;
	margin-top: -35px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	background-color: #161E3C;
}

.nav-block__list {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-block__blocks {
	width: 400px;
	height: 150px;

	padding: 90px 50px;

	border: 1px solid rgba(255, 255, 255, 0.4);
}

.nav-block__blocks:nth-of-type(2) {
	margin: 0 50px;
}

.nav-block__h3 {
	color: white;
	font-size: 24px;

	margin-bottom: 35px;
	font-weight: normal;
}

.nav-block__title {
	color: white;
	line-height: 1.4;
}

/* End of Nav-block */

/* Quiz */

.main-page__quiz {
	height: 450px;

	padding-left:60px;
}

.quiz__h2 {
	width: 575px;
	margin: 80px 0px 30px;

	font-size:44px;
	font-weight: normal;
}

.quiz__h3 {

	margin-bottom: 40px;

	font-size: 35px;
	font-weight: normal;
}

.quiz__list {
	margin-bottom: 60px;
	padding: 0;

	width: 1000px;
	display: flex;
	justify-content: space-between;
}

.quiz__option {
	width: 310px;
	height: 205px;

	display: flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;

	border: 1px solid rgba(0, 0, 0, 0.2);
}

.quiz_option_active {
	width: 310px;
	height: 205px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;

	border: 1px solid rgba(0, 0, 128, 0.6);	
}

.quiz__heading {
	margin:32px; 
}

.quiz__nav {
	display: flex;
	justify-content: space-between;

	width: 1000px;
}

.nav__btn {
	width: 125px;
	height: 35px;
	margin: -10px 5px 0 5px;

	color: black;

	font-size: 13px;
}

/* End of Quiz */

/* Advantages */

.main-page__advantages {
	height: 820px;

	margin-top: 100px;
}

.advantages--background-wrapper {
	width: 100%;
	background: url(../images/advantages1.svg) no-repeat 0 0,
				url(../images/advantages2.svg) no-repeat 480px 0px,
				url(../images/advantages3.svg) no-repeat 960px 0px;
	background-size: 640px 820px,
					640px 820px,
					640px 820px;
}

.advantages__list {
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.advantages__point {
	width: 355px;
	height: 300px;
	margin-top: -45px;

	line-height: 1.4;
	text-align: center;
}

.advantages__point:first-of-type {
	align-self: flex-start;
}

.advantages__point:nth-of-type(2) {
	align-self: center;
}

.advantages__point:last-of-type {
	align-self: flex-end;
}

.advantages__point:first-of-type::before {
	content: "1";
	
	display: inline-block;
	position: relative;
	top: 65px;
	left: -140px;

	color: #F50000;
	font-size: 150px;
	font-weight: bold;
}

.advantages__point:nth-of-type(2)::before {
	content: "2";
	
	display: inline-block;
	position: relative;
	top: 65px;
	left: -140px;

	color: #F50000;
	font-size: 150px;
	font-weight: bold;		
}

.advantages__point:last-of-type::before {
	content: "3";
	
	display: inline-block;
	position: relative;
	top: 65px;
	left: -140px;

	color: #F50000;
	font-size: 150px;
	font-weight: bold;	
}

.advantages__h3 {
	background-color: rgba(0, 0, 128, 0.2);

	font-size: 25px;
	font-weight: normal;

	width: 150px;
	margin: 0 auto;
	padding:10px;
}

.advantages__description {
	background-color: rgba(0, 0, 128, 0.15);

	line-height: 1.4;
	padding: 5px;
}

/* End of Advantages */

/* How-work */

.main-page__how-work {
	height: 550px;
	margin-top: -2px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;


	background-color: #161E3C;
	color: white;
}

.cases__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.how-work__h2 {
	font-weight: normal;
	font-size:44px; 

	margin: 40px 0 50px;
}

.cases {
	background-color: white;
	color: black;
	box-shadow: 3px -3px 2px 5px white;

	padding:20px 10px;
}

.cases__h3 {
	text-transform: uppercase;
	text-align: center;
	text-decoration: underline;
}

.cases__list {
	padding:0;
	width: 280px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.cases__point {
	margin-bottom: 10px;

	text-align: center;

	color: black;
}

.cases__point::before {
	display: block;
	content: "♦";
	opacity: 0.6;
	margin-top: 15px;

}

/* End of How-work */

/* Form */

/*.main-page__form {
	height: 650px;
}*/

.form__h3 {
	color: #161E3C;

	font-size: 44px;
	line-height: 1.4;
	font-weight: normal;

	padding-top: 50px;
}

.action-form {
	height: 450px;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
}

.form__label,
input {
	color: #161E3C;

	margin-right: 25px;

	cursor: pointer;
}

.action-form input,
.action-form textarea {
	border-width: 0;

	border-bottom: 1px solid #161E3C;
}

input[name='name'],
input[name='phone'],
input[name='email'] {
	width: 415px;
	padding-top: 20px;
}

.form__label ~ textarea {
	width: 1320px;
	padding-top: 20px;
}

/* ПЕРЕПИСАТЬ СЕЛЕКТОР и ШИРИНУ ПО БЛОКУ */

.agreement {
	display: flex;
	align-self: center;
	justify-content: space-between;

	margin-right: 100px;
}

.agreement__link {
	color: #161E3C;

	text-decoration: underline;

	margin-left: 40px;
}

label[for='agreement']~input {
	margin-left: -20px;
}

label[for='file'] {
	margin-right: 260px;
}

/* End of Form */

/* Footer */

.footer {
	height: 580px;
	margin-top: -200px;

	background: url(../images/background-footer.svg) no-repeat;
	background-size: 1519px 700px;
	color: white;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 20px;
}


.footer__first-line {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 15px;
}

.footer__nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 120px;
}

.footer__social {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items:center; 

	width: 150px;
	height: 150px;
	padding:0;
}

.footer__second-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__second-line a {
	font-size: 38px;
}
/* End of Footer */